<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entries View</title>
  <%= stylesheet_link_tag 'entries' %>
</head>
<body>
  <div class="content-container">
    <%= link_to new_journal_entry_path, class: "content-card" do %>
      <%= t('new_entry') %>
    <% end %>
  </div>
</body>
</html>
