<%# 
<nav class="navbar">
  <ul class="nav-list">
    <%# <li><%= link_to 'Home', '/pages/home' %>
    <%# </li>
    <%# <li><%= link_to 'Log Entries', '/log/entries' %>
    <%# </li>
    <li><%= 'JOURNEY' %></li>
<%# </ul>
</nav>    %>


</head>
<body>
  <header class="navbar">
    <nav class="nav-item">
      <ul>
        <li><a class="nav-link" href="#">Left Link 1</a></li>
        <li><a class="nav-link" href="#">Left Link 2</a></li>
      </ul>
    </nav>
    <div class="logo">Your Logo/Name</div>
    <nav class="nav-item">
      <ul>
        <li><a class="nav-link" href="#">Right Link 1</a></li>
        <li><a class="nav-link" href="#">Right Link 2</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>